.std-input {
  @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight;
}
.std-input:focus {
  @apply outline-none shadow-outline;
}
.std-label {
  @apply text-gray-700 text-sm font-bold mb-2;
}
