<div class="hidden md:flex md:flex-shrink-0">
  <div class="flex flex-col w-64 bg-indigo-800 pt-5 pb-4">
    <div class="flex text-white font-bold items-center flex-shrink-0 px-4">
      <%= @menu.title %>
    </div>
    <div class="mt-5 h-0 flex-1 flex flex-col overflow-y-auto">
      <nav class="flex-1 px-2 bg-indigo-800">
        <%= for menu_item <- @menu.menu do %>
          <a href="<%= menu_item.link %>" class="<%= menu_item.isActive === false && 'mt-1 group flex items-center px-2 py-2 text-sm leading-5 font-medium text-indigo-300 rounded-md hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition ease-in-out duration-150' || 'group flex items-center px-2 py-2 text-sm leading-5 font-medium text-white rounded-md bg-indigo-900 focus:outline-none focus:bg-indigo-700 transition ease-in-out duration-150' %>"  >
            <%= menu_item.image %>
            <%= menu_item.name %>
          </a>
        <% end %>
      </nav>
    </div>
  </div>
</div>

